*.bak
Index
Cache
Local
Packages/bz2
Packages/ssl-linux
Packages/requests-oauthlib
Packages/User/GoSublime
Pacakges/User/GoSublime-aux.sublime-settings
Packages/User/Package\ Control.cache
Packages/User/.SublimeREPLHistory
Packages/SublimeHaskell
Packages/GoSublime
Packages/OmniMarkupPreviewer
Packages/User/MakeCommand.sublime-commands
Packages/User/Package Control.last-run
Packages/User/Package Control.*ca-bundle
Packages/oauthlib
Packages/requests

