*.bak
Index
Cache
Local
Backup

# Installed from Installed Packages
Packages/SublimeHaskell
Packages/SublimeLinter
Packages/GoSublime
Packages/OmniMarkupPreviewer

# Automatically installed packages
Packages/bz2
Packages/ssl-linux
Packages/oauthlib
Packages/requests
Packages/requests-oauthlib
Packages/tabulate

Packages/HTML
Packages/Rails
Packages/User/SublimeLinter/*.tmTheme

# User stuff
Packages/User/GoSublime
Packages/User/GoSublime-aux.sublime-settings
Packages/User/Package\ Control.cache
Packages/User/.SublimeREPLHistory
Packages/User/MakeCommand.sublime-commands
Packages/User/Package Control.last-run
Packages/User/Package Control.*ca-bundle
