"*":
  "atom-beautify":
    analytics: false
    html_brace_style: "expand"
    html_end_with_newline: true
    html_indent_inner_html: true
  build: {}
  "build-make": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "metrics"
    ]
    packagesWithKeymapsDisabled: [
      "project-manager"
      "hard-wrap"
      "atom-beautify"
      "vim-mode"
    ]
  "custom-title":
    template: "<% if (projectPath) { %><%= projectName %> - <% } %><%= filePath.replace(projectPath + \"/\", \"\") %>"
  editor:
    fontFamily: "DejaVu Sans Mono"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "f64df4b5-3041-93dc-17d0-df0a4f6d917d"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "git-diff": {}
  "ide-haskell": {}
  latex:
    customEngine: "latexmk -pdf"
  linter:
    displayLinterStatus: false
    lintOnFly: false
    lintOnFlyInterval: 500
  "linter-eslint":
    disableEslintIgnore: true
    useGlobalEslint: true
  "linter-gcc":
    gccDefaultCFlags: "-c -Wall -fsyntax-only"
    gccDefaultCppFlags: "-c -Wall -std=c++11 -fsyntax-only"
    gccIncludePaths: "./include"
  "linter-hdevtools":
    hdevtoolsUseStack: true
  "linter-hlint": {}
  "linter-jshint": {}
  "merge-conflicts": {}
  metrics:
    userId: "a7cdf58037babb4d26ced1362841d7f5fcd91dd2"
  minimap: {}
  pigments:
    delayBeforeScan: 2000
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  "project-manager":
    closeCurrent: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    wrapLeftRightMotion: true
  welcome:
    showOnStartup: false
